services:
  catcam:
    image: catcam:latest
    container_name: catcam
    build: .
    env_file: stack.env
    ports:
      - "${PORT}:${PORT}"
    restart: unless-stopped
    volumes:
      - user-settings:${USER_SETTINGS_PATH:-/data/user-settings}

volumes:
  user-settings:
