@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: rgb(243, 244, 246);
  --foreground-rgb: rgb(3, 7, 18);
}


.dark {
    --foreground-rgb: rgb(228, 228, 231);
    --background-rgb: rgb(24, 24, 27);
}

* {
    user-select: none;
    box-sizing: border-box;
}

html {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    color: var(--foreground-rgb);
    background: var(--background-rgb);
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
}

video::-webkit-media-controls {
    display: none !important;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (orientation: landscape) {
    body, main, .container {
        overflow: auto;
    }
}