@import "tailwindcss";

/* Hero UI */
@plugin "./hero.ts";
@source "../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}";

/* Tailwind custom classes */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background-rgb: rgb(243, 244, 246);
  --foreground-rgb: rgb(3, 7, 18);
}

.dark {
  --foreground-rgb: rgb(228, 228, 231);
  --background-rgb: rgb(24, 24, 27);
}

* {
  user-select: none;
  box-sizing: border-box;
}

html {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

video::-webkit-media-controls {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(3, 105, 161);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.dark ::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (orientation: landscape) {
  body,
  main,
  .container {
    overflow: auto;
  }
}
