@import "tailwindcss";

/* Hero UI */
@plugin "./hero.mts";
@source "../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}";

/* Tailwind custom classes */
@custom-variant dark (&:where(.dark, .dark *));

* {
  user-select: none;
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

video::-webkit-media-controls {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(3, 105, 161);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.dark ::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (orientation: landscape) {
  body,
  main,
  .container {
    overflow: auto;
  }
}
